.navbar-light {
    background-color: brown;
    height: 60px;
    width: 100%;
}

img {
    margin-left: 170px;
    top: 10px;
}

.header {
    margin-left: 180px;
    width: 91px;
    height: 24px;
    text-align: left;
    font: normal normal normal 12px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}

h1 {
    margin-left: 15px;
    font-size: 24px;
}

.form-control {
    width: 450px;
    height: 33px;
    margin-left: 100px;
    top: 10px;
}

.fa {
    margin-left: -435px;
}

@media only screen and (max-width: 360px) {
    .navbar {
        width: 360px;
        position: static;
    }
    img {
        margin-left: 5px;
    }
    h1 {
        margin-right: 160px;
    }
    .form-inline {
        /* width: 35%;
        margin-left: 200px;
        margin-top: -48px; */
        visibility: hidden;
    }
    .fa {
        margin-left: -110px;
        margin-top: -50px;
    }
}