    .navbar-light {
        background-color: brown;
        border-radius: 5px 5px 5px 5px;
        height: 60px;
    }
    
    img {
        margin-left: 167px;
        top: 10px;
    }
    
    .header {
        margin-left: 180px;
        width: 91px;
        height: 24px;
        text-align: left;
        font: normal normal normal 12px Roboto;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
    }
    
    h1 {
        margin-left: 15px;
        font-size: 24px;
    }
    
    .form-control {
        width: 450px;
        height: 33px;
        margin-left: 100px;
        top: 10px;
    }
    
    .imgcart {
        margin-left: -20px;
        cursor: pointer;
        margin-top: 35px;
        margin-right: 270px;
        color: white;
    }
    
    .form-group {
        margin-top: 2px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .form-control {
        top: -2px;
        border-radius: 5px 5px 5px 5px;
    }
    
    .fa {
        margin-left: 250px;
        margin-top: -7px;
        color: white;
    }
    
    .profile {
        color: white;
        margin-left: -20px;
        cursor: pointer;
        margin-top: 25px;
    }
    
    .img1 {
        color: white;
        margin-left: 25px;
        margin-top: -12px;
    }
    
    .dropdown-menu a {
        color: black;
    }
    
    @media only screen and (max-width: 360px) {
        .navbar {
            width: 640px;
        }
        img {
            margin-left: 2px;
        }
        .header {
            margin-right: 800px;
            margin-top: -20px;
        }
        h1 {
            font-size: 24px;
            margin-right: 445px;
        }
        .form-group {
            margin-left: 20px;
        }
        .form-control {
            visibility: hidden;
        }
        .profile {
            margin-top: -98px;
            margin-right: 330px;
            font-size: 12px;
        }
        .fa {
            margin-top: -134px;
            color: white;
        }
        .img1 {
            margin-left: 300px;
            margin-top: -130px;
            color: white;
        }
        .imgcart {
            color: white;
            margin-top: -60px;
            margin-left: 300px;
        }
    }