<nav class="navbar navbar-expand-lg navbar-light ">
    <img src="../../../assets/education.svg">
    <div>
        <h1 style="color: white;">BookStore</h1>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" style="padding-left: 45px;" placeholder="Search" aria-label="Search">
        <i class="fa fa-search" style=" margin-left: -450px;"></i>
    </form>
    <i class="fa fa-user-o"></i>
    <div class="profile">
        <span class="bttn  dropdown-toggle" data-toggle="dropdown">Profile</span>
        <ul class="dropdown-menu" style="margin-left: 1105px;">
            <li class="disabled"><a routerLink="./profile">Profile</a></li>
            <li class="active"><a routerLink="./wishlist">WishList</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <img class="img1" src="../../../assets/cart3.svg" style="color: white;">
    <div class="d-inline-flex-column" routerLink="./cart">
        <h6 class="imgcart ">cart</h6>
    </div>
</nav>
<router-outlet></router-outlet>