                                .navbar-light {
                                    background-color: brown;
                                    height: 60px;
                                }
                                
                                img {
                                    margin-left: 167px;
                                    top: 10px;
                                }
                                
                                .header {
                                    margin-left: 180px;
                                    width: 91px;
                                    height: 24px;
                                    text-align: left;
                                    font: normal normal normal 12px Roboto;
                                    letter-spacing: 0px;
                                    color: #FFFFFF;
                                    text-transform: capitalize;
                                    opacity: 1;
                                }
                                
                                h1 {
                                    margin-left: 15px;
                                    font-size: 24px;
                                }
                                
                                .imgcart {
                                    /* margin-left: -25px;
                                    cursor: pointer;
                                    margin-top: 35px;
                                    margin-right: 270px;
                                    color: white; */
                                    margin-top: 30px;
                                    margin-left: 8px;
                                }
                                
                                .form-group {
                                    margin-top: 2px;
                                    border-radius: 5px 5px 5px 5px;
                                }
                                
                                .form-control {
                                    top: -2px;
                                    border-radius: 5px 5px 5px 5px;
                                    height: 35px;
                                    top: 10px;
                                    margin-left: 78px;
                                    width: 450px;
                                }
                                
                                .imgg {
                                    /* margin-left: 474px; */
                                    margin-left: 783px;
                                    margin-top: -7px;
                                }
                                
                                .ico {
                                    margin-left: -440px;
                                }
                                
                                .fa {
                                    color: white;
                                }
                                
                                .cart1 {
                                    margin-left: 55px;
                                    margin-top: -7px;
                                }
                                
                                .profile {
                                    color: white;
                                    cursor: pointer;
                                    margin-top: 10px;
                                    margin-left: -65px;
                                }
                                
                                .circle {
                                    width: 14px;
                                    height: 14px;
                                    background: #FAFAFA 0% 0% no-repeat padding-box;
                                    border: 1px solid #DBDBDB;
                                    border-radius: 30px;
                                    margin-left: -13px;
                                    margin-top: -18px;
                                }
                                
                                .img1 {
                                    color: white;
                                    margin-left: 25px;
                                    margin-top: -12px;
                                }
                                
                                .dropdown-menu a {
                                    color: black;
                                }
                                
                                .dropdown {
                                    margin-top: 25px;
                                    margin-left: -45px;
                                }
                                
                                @media only screen and (max-width: 360px) {
                                    .navbar {
                                        position: relative;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding-left: 0px;
                                        padding-right: 0px;
                                        width: 360px;
                                    }
                                    img {
                                        margin-left: 10px;
                                        margin-top: 5px;
                                    }
                                    .book {
                                        margin-right: 218px;
                                    }
                                    h1 {
                                        font-size: 18px;
                                        margin-top: 8px;
                                    }
                                    .form-control {
                                        width: 0%;
                                        margin-left: 150px;
                                        margin-top: -40px;
                                        height: 30px;
                                    }
                                    .ico {
                                        margin-left: 160px;
                                        margin-top: -55px;
                                    }
                                    .imgg {
                                        margin-left: 40px;
                                        margin-top: -60px;
                                        margin-right: -10px;
                                    }
                                    .cart1 {
                                        margin-right: -95px;
                                        margin-top: -60px;
                                    }
                                    .profile {
                                        margin-top: -45px;
                                        margin-left: 2px;
                                        color: white;
                                        font-size: 10px;
                                    }
                                    .fa {
                                        color: white;
                                    }
                                    .imgcart {
                                        color: white;
                                        margin-left: 15px;
                                        font-size: 14px;
                                        margin-top: 35px;
                                        margin-right: 25px;
                                    }
                                    .dropdown-menu {
                                        margin-left: 10px;
                                    }
                                    .footer {
                                        margin-left: -10px;
                                    }
                                }