.container {
    width: 624px;
    height: 391px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
    margin-top: 185px;
    margin-left: 320px;
}

img {
    /* margin-left: -300px;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    padding: 25px; */
    margin-top: 57px;
    margin-left: 53px;
    width: 245px;
    height: 245px;
    background: transparent url('../../../assets/2766594.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.book {
    font: normal normal medium 18px/24px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 71px;
    margin-top: 31px;
    font-weight: 700;
}

.form {
    margin-left: 140px;
    width: 389px;
    height: 425px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 15px #00000029;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    opacity: 1;
    left: 727px;
}

label {
    font-weight: bold;
    font-size: 12px;
}

.header {
    margin-top: -30px;
    margin-left: 120px;
}

.login {
    margin-left: -120px;
    font-weight: 900;
}

.sign {
    margin-left: -140px;
    font-weight: 900;
}

.main {
    margin-left: 130px;
}

.email {
    cursor: pointer;
    background: #FFFFFF;
    width: 252px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
}

.passwrd {
    width: 252px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #A03037;
    border-radius: 2px;
    opacity: 1;
    margin-left: 0px;
}

.pass {
    margin-top: 20px;
}

.btn {
    width: 300px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

.forgotPassword {
    float: right;
    margin-right: 90px;
    color: gray;
    cursor: pointer;
}

.btnn {
    margin-left: 3px;
    width: 255px;
    margin-top: 20px;
    color: white;
    height: 37px;
    background-color: brown;
    border: none;
}

hr {
    width: 64px;
    height: 0px;
    border: 1px solid #E1E4EA;
    opacity: 1;
}

h6 {
    text-align: left;
    font: normal normal bold 14px/18px Meiryo UI;
    letter-spacing: 0px;
    color: #343434;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 6px;
    margin-left: 18px;
}

.bt {
    background: #4266B2 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    width: 126px;
    height: 37px;
}

.btt {
    width: 119px;
    height: 37px;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    opacity: 1;
    color: black;
    margin-left: 7px;
}

@media only screen and (max-width: 360px) {
    .container {
        visibility: hidden;
    }
    img {
        visibility: hidden;
    }
    .form {
        margin-left: -548px;
        width: 345px;
    }
}