<div class="container">
    <div class="greeting1">
        <img src="assets\greeting1.jpg" style="height: 10rem; width: 10rem;" />
    </div>
    <div class="message">
        <span>Order Placed Successfully</span>
    </div>
    <div class="greeting2" style="margin-top: 10px;">
        <span>hurry!!!your order is confirmed</span>
    </div>
    <div class="greeting2">
        <span>the order id is #123456 save the oreder id for</span>
    </div>
    <div class="greeting2">
        <span>further Communication...</span>
    </div>

    <div class="contact-heading"></div>
    <div class="contactus">
        <div class="card">
            <div class="email">
                <div style="
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-size: larger;
              background-color: #FAFAFA;
              color:black;
            ">Email us</div>
                <div style="
              display: flex;
              justify-content: center;
              font-size: medium;
              align-items: center;
              padding-top: 10px;
            ">jambhulkarrekha@gmail.com</div>
            </div>
        </div>
        <div class="card">
            <div class="email">
                <div style="
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #FAFAFA;
              color:black;
              font-size: larger;
            ">Contact us</div>
                <div style="
              display: flex;
              justify-content: center;
              font-size: small;
              align-items: center;
              padding-top: 10px;
            ">+91-9139124543</div>
            </div>
        </div>
        <div class="card">
            <div class="email">
                <div style="
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-size: larger;
              background-color: #FAFAFA;
              color:black;
            ">Address</div>
                <div style="
              display: flex;
              justify-content: center;
              font-size: small;
              align-items: center;
              padding-top: 10px;
            ">Talegoan chakan road Pune</div>
            </div>
        </div>
    </div>
    <div style="
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      "><button class="btn btn-primary" style="
          height: 45px;
          width: 220px;
          font-size: 14px;
          background-color: #3371b5;
          color: whitesmoke;
          font-family: Lato;
        " routerLink="/dashboard/books">
        CONTINUE SHOPPING
      </button>
    </div>
</div>