<div class="container bg-light">
    <!-- <img src="../../../assets/2766594.png" class="rounded-circle" width="304" height="236"> -->
</div>
<form class="form">
    <div class="d-flex flex-column my-flex-container-column">
        <div class="d-inline-flex p-3 text-black">
            <h2 class="login">
                LOGIN
            </h2>
            <h2 class="sign">
                SIGNUP
            </h2>
        </div>

        <div class="main">
        <div class="email-id">
            <label for="email">Email Id</label><br>
            <input type="email" formControlName="email" id="email" placeholder="Enter email"  name="email" class="email">
        </div>
        <div class="pass">
            <label for="pwd">Password</label><br>
            <input type="password" id="pwd" placeholder="Enter password" name="pswd" class="passwrd">
        </div>
        <div class="btn">
            <button type="button" class="btn btn-danger">Login</button>
        </div>
        </div>
    </div>
</form>