<div class="container bg-light">
    <img src="../../../assets/2766594.png" class="rounded-circle" width="304" height="236">
    <h5 class="book">ONLINE BOOK SHOPPING</h5>
</div>
<form #userlogin="ngForm" (ngSubmit)="loginUser(userlogin.value)">
    <div class="form">
        <div class="d-flex flex-column my-flex-container-column">
            <div class="header d-inline-flex p-3 text-black">
                <div class="login">
                    <a class="btn">LOGIN</a>
                </div>
                <div class="sign">
                    <a class="btn" routerLink="/register">SIGNUP</a>
                </div>
            </div>

            <div class="main">
                <div class="email-id">
                    <label for="email">Email Id</label><br>
                    <input type="email" id="email" placeholder="Enter email" name="email" class="email" #email ngModel required>
                </div>
                <div class="pass">
                    <label for="password">Password</label><br>
                    <input [type]="showPassword ? 'text':'password'" type="password" id="password" placeholder="Enter password" name="password" class="passwrd" #password ngModel required>
                </div>
                <div class="forgotPassword" routerLink="/forgot" style="font-size: 14px; margin-left:-5px;margin-top: 2px;"> Forgot Your Password?</div>
                <div style="margin-top: 2px;">
                    <input type="checkbox" routerLink="/adminLogin" style="margin-top: 2px;"> <label for="adminLogin" style="color: brown; font-size: 12px;margin-left: 5px;font-weight: 500;">Login As Admin</label>
                </div>
                <div>
                    <button type="submit" class="btnn">Login</button>
                </div>
                <div class="d-inline-flex">
                    <hr style="margin-left:25px;">
                    <h6>OR</h6>
                    <hr style="margin-left: 18px;">
                </div>
                <div class="d-inline-flex">
                    <div>
                        <button type="button" class="bt btn-primary">FaceBook</button>
                    </div>
                    <div>
                        <button type="button" class="btt btn-primary">Google</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>