<div class="header">
    <h4 class="forgot">
        Forgot Your Password? 
    </h4>
</div>
<div class="container">
    <h6 class="head text-black">
        Enter your email address and we'll send you
        a link to reset password.
    </h6>
    <div class="emailid">
        <label for="email">Email Id</label><br>
        <input type="email" id="email" placeholder="Enter email" name="email" class="email" ngModel>
    </div>
    <div class="btn1">
        <button type="submit" class="btn1 btn-danger">Reset Password</button>
    </div>
    <div class="create">
        <h4 class="account">
            Create Account
        </h4>
    </div>
</div>
